@(startRoute:String)(implicit request:RequestHeader,flash: Flash)

@main("Task List (Version 2)"){
    <div id="content"></div>
    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="loginRoute" value="@startRoute">
    <input type="hidden" id="validateRoute" value="@routes.TaskList2.validate">
    <input type="hidden" id="createRoute" value="@routes.TaskList2.create">

    <script src="@routes.Assets.versioned("javascript/version2.js")"></script>
}